*
    font-family: $font-main

:focus
    box-shadow: none
    outline: none

.no-js :focus, .keyboard-focus :focus
    box-shadow: 0 0 2px 1px #00cdcb

body
    line-height: 1
    
    


a
    transition: .3s ease
    display: inline-block

a, button, .js-mouse-hover
    cursor: none

figure
    margin: 0

p:empty
    display: none

.content-area
    overflow: hidden
        
////////////////////////
// TITLES
///////////////////////

.heading
    margin: 0
    font-family: $font-secondary
    line-height: .8
    font-weight: 500

.subheading
    margin: 0 0 20px
    font-family: $font-secondary
    font-weight: 500

////////////////////////
// TEXT BLOCKS
///////////////////////

p.text, .text p, .text
    margin: 0 0 1em
    font-weight: 400
    line-height: 1
    &:last-child
        margin: 0
    strong, b
        font-weight: bold
    a
        color: inherit
    ol, ul
        padding-left: 20px
        margin: 0
        li
            margin-bottom: 5px

////////////////////////
// BUTTONS
///////////////////////

.btn
    font-family: $font-main
    cursor: pointer

.btn-solid
    position: relative
    display: inline-block
    vertical-align: middle
    border: 0
    padding: 15px 25px
    line-height: 1
    text-decoration: none
    font-weight: 600
    transition: .3s ease-out
    &.btn-black
        color: $black
        background-color: transparent
        border: 2px solid $black
        &:hover, &:focus
            background-color: $black
            color: $white
    &.btn-white
        color: $white
        background-color: transparent
        border: 2px solid $white
        &:hover, &:focus
            background-color: $white
            color: $black
    

//btn - animation
.btn-animation
    position: relative
    // display: inline-block
    display: table
    overflow: hidden
    width: 100%
    height: auto
    max-width: 250px
    margin-right: auto
    margin-left: auto
    padding: 15px 25px
    text-decoration: none
    text-align: center
    *
        pointer-events: none
    &:hover, &:focus
        .btn-animation-title
            z-index: 999
        .btn-animation-bg
            width: 350%
            height: 800px
    &::after
        position: absolute
        content: ''
        top: 0
        right: 0
        bottom: 0
        left: 0
        width: 100%
        height: 50px
        display: table
        z-index: -1
    .btn-animation-title
        position: relative
        z-index: 99
        transition: 0.4s ease-in-out
    .btn-animation-bg
        position: absolute
        display: block
        width: 0
        height: 0
        border-radius: 50%
        -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out
        -webkit-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)
        z-index: 1
        pointer-events: none
    //Colors
    
    



////////////////////////
// Helpers
///////////////////////

.text-center
    text-align: center

.color-white
    color: $white

// Scrollbar
::-webkit-scrollbar-track
    -webkit-box-shadow: initial
    border-radius: 0
    background-color: #d8d8d8

::-webkit-scrollbar
    width: 12px
    background-color: #d8d8d8

::-webkit-scrollbar-thumb
    border-radius: 0
    -webkit-box-shadow: initial
    background-color: $black
    border: 2px solid #d8d8d8